.header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: #2874f0;
	color: var(--complimentary-text-color);
	height: 7vh;
	.header-name {
		padding: 2rem 3rem;
		letter-spacing: 0.1rem;
		font-size: 2rem;
	}
	.right-side {
		display: flex;
		margin-right: 5rem;
		padding: 2rem 1rem;
		font-weight: 500;
		h2 {
			font-size: 2rem;
			padding: 0 1rem;
		}
	}
}
